body {
    background-color: gold !important;
}

.container {
    min-height: 100vh;
    background-color: gold !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 35rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.disableddiv {
    pointer-events: none !important;
    opacity: 0.4 !important;
}

.end {
    text-align: center;
    border: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}

.score {
    display: flex;
    justify-content: space-around;
    margin-left: 85px;
    margin-right: 85px;
}

.score-p {
    color: blue;
}

.share {
    border: none;
    background-color: orangered;
    padding: 15px;
    border-radius: 24px;
    color: white;
}

.replay {
    border: none;
    background-color: transparent;
    color: orangered;
    font-size: 800;
}